<h2>Lista de Categorias</h2>
<hr>
<a href="/admin/categorias/add"><button class="btn btn-success">Nova Categoria</button></a>
<a href="/"><button class="btn btn-danger">Voltar</button></a>
{{#each categorias}}
    <div class="card mt-4">
        <div class="card-body">
            <h4 class="mt-2">{{nome}}</h4>
            <p class="mt-3">Slug: {{slug}}</p>
            <p class="mt-2">Data: {{formatDate date}}</p>
            <form action="/admin/categorias/deletar" method="post" id="deletar" name="deletar">
                <input type="hidden" name="id" value="{{_id}}">
            </form>
            <a href="/admin/categorias/edit/{{_id}}"><Button class="btn btn-success mt-2">Editar</Button></a>
            <a><Button class="btn btn-danger mt-2" form="deletar">Excluir</Button></a>
        </div>
    </div>
{{else}}
    <h4 class="mt-4">Nenhuma categoria cadastrada</h4>
    <P>Para cadastrar uma categoria click em Nova Categoria</P>
{{/each}}